<div class='container'>
    <div class="row">
        <div class="col s6 offset-s3" style='text-align: center;'>
            <img class="responsive-img-photo" src="/images/hugo_doux.png">
            <ul>
                <li><h5>Hugo DOUX</h5></li>
                <li><h5>Président</h5></li>
                <li>06 01 79 86 06</li>
                <li>hugo.doux@eleves.ec-nantes.fr</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12" style='text-align: center;'>
            <img class="responsive-img-photo" src="/images/alexandre_vurlod.png">
            <ul>
                <li><h5>Alexandre VURLOD</h5></li>
                <li><h5>Responsable Logistique</h5></li>
                <li>06 51 27 61 33</li>
                <li>alexandre.vurlod@eleves.ec-nantes.fr</li>
            </ul>
        </div>
        <div class="col m6 s12" style='text-align: center;'>
            <img class="responsive-img-photo" src="/images/victor_blancart.png">
            <ul>
                <li><h5>Victor BLANCART</h5></li>
                <li><h5>Responsable Pôle Entreprises</h5></li>
                <li>06 71 50 16 76</li>
                <li>victor.blancart@eleves.ec-nantes.fr</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12" style='text-align: center;'>
            <img class="responsive-img-photo" src="/images/pauline_viault.png">
            <ul>
                <li><h5>Pauline VIAULT</h5></li>
                <li><h5>Trésorière</h5></li>
                <li>07 81 87 24 29</li>
                <li>pauline.viault@eleves.ec-nantes.fr</li>
            </ul>
        </div>
        <div class="col m6 s12" style='text-align: center;'>
            <img class="responsive-img-photo" src="/images/jerome_villerot.png">
            <ul>
                <li><h5>Jérôme VILLEROT</h5></li>
                <li><h5>Responsable Communication</h5></li>
                <li>06 51 04 39 97</li>
                <li>jerome.villerot@eleves.ec-nantes.fr</li>
            </ul>
        </div>
    </div>

</div>
