<div class="section white">
	<div class="row container">
		<h3>Les Écoles</h3>
		<ul class="section table-of-contents">
			<li><h5><a href="#ecn">Centrale Nantes</a></h5></li>
			<li><h5><a href="#polytech">Polytech Nantes</a></h5></li>
			<li><h5><a href="#imt">IMT Atlantique</a></h5></li>
			<li><h5><a href="#icam">Institut Catholique des Arts et Métiers</a></h5></li>
		</ul>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src='images/centrale_nantes.JPG'></div>
</div>
<div id="ecn" class="section scrollspy white">
	<div class="row container">
		<h2 class="header">Centrale Nantes (ECN)</h2>
		<p>Admission en équivalent L3. Plus de 60% des élèves sont admis via le concours Centrale Supélec. 
			Les autres proviennent des concours Banque PT, CASTing, ATS, d’une admission sur dossier ou du cycle international. </p>

		<ul>
			<li><p><h5>Première année (Équivalent L3) :</h5> Année généraliste (Mathématiques, algorithmique, Capteurs/contrôle/commande, Mécanique des milieux continues, Dynamique des fluides, Conception et fabrication industrielle...) 
		→ Stage ou CDD de 4 semaines minimum entre fin juin et fin août</p></li>

			<li><p><h5>Deuxième et troisième année (équivalent M1) :</h5> Choix d’une option parmi la liste ci-dessous
		→ Stage ou CDD de 20 semaines minimum entre avril et août</p></li>

			<li><p><h5>Troisième année (équivalent M2) :</h5> Choix d’une option différente de celle choisie en deuxième année
		→ Stage ou CDD de 25 semaines minimum. À partir d’avril. </p></li>
		</ul>
		<ul>
			<li><p><h5>Liste des options de l’Ecole Centrale de Nantes par secteur</h5></p></li>

			<li><p><h6>Industrie :</h6> Aéronautique, Ingénierie de Produits, Matériaux et procédés, Robotique, Systèmes Embarqués et Réseaux Électriques, Génie industriel</p></li>

			<li><p><h6>Géomatique, Ville, Génie civil :</h6> Génie civil, Sciences de l’ingénieur pour l’habitat et l’environnement urbain, Ville numérique</p></li>

			<li><p><h6>Numérique :</h6> Informatique, Mathématiques et application, Modélisation et simulation numérique, Réalité virtuelle, Données, analyse, traitement et applications en signal et image</p></li>

			<li><p><h6>Océan, Energie :</h6> Océan, Production et gestion d’énergie, propulsion et transports</p></li>

			<li><p><h6>Santé :</h6> Sciences du numérique pour les sciences de la vie et de la santé</p></li>

			<li><p><h6>Options projets :</h6> Projet Neutralité Carbone, Paris Scientifiques 2024</p></li>
		</ul>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="images/polytech_nantes.jpg"></div>
</div>
<div id="polytech" class="section scrollspy white">
	<div class="row container">
		<h2 class="header">École Polytech Nantes</h2>
		<ul>
			<li><p><h5>ETN :</h5> L’objectif de la spécialité Électronique et technologies numériques (ETN) est de développer des compétences généralistes en électronique, informatique embarquée et systèmes numériques 
			ainsi que des compétences approfondies en systèmes temps réel (logiciel et matériels), systèmes multimédias communicants par réseaux, systèmes et dispositifs radio et micro-ondes.</p></li>

			<li><p><h5>INFO :</h5> Fondamentaux de l’informatique, base de données avancées, intelligence artificielle. 3 options informatique décisionnelle, gestion de contenu numériques et réseau, système cloud.</p></li>

			<li><p><h5>MAT :</h5> Concevoir, mettre en oeuvre, caractériser, modéliser et contrôler les différents aspects du cycle de vie des matériaux : procédés de fabrication et/ou d’assemblage, propriétés, applications, performances en service, durabilité, recyclage.
			Considérer les caractéristiques scientifiques et techniques des matériaux, des applications et des procédés associés</p></li>

			<li><p><h5>TE :</h5> L’objectif de la spécialité Thermique-énergétique (TE) est de développer des compétences généralistes en mécanique des fluides (thermodynamique, transferts de chaleur) 
			et des compétences approfondies en génie climatique, thermique des systèmes industriels, procédés de mise en forme des polymères et composites. </p></li>
		</ul>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="images/imt_atlantique.jfif"></div>
</div>
<div id="imt" class="section scrollspy white">
	<div class="row container">
		<h2 class="header">Institut Mines Télécom Atlantique (IMT)</h2>
		<p>École généraliste avec admission en équivalent L3. La majorité des élèves proviennent du concours des Mines, ainsi que d’admission sur dossier. Une filière en alternance est réservée aux élèves sortant de DUT.</p>

			<ul>
				<li><p><h5>Première année (Équivalent L3) :</h5> année généraliste (Mathématiques, algorithme, introduction à Java, découverte de 8 domaines physiques, simulation d’entreprise, projets de groupes..) 
				→ Stage ou CDD de 4 semaines de préférence en février, possible fin juillet/début août</p></li>

				<li><p><h5>Deuxième (équivalent M1) :</h5> choix d’une option parmi les 24 disponibles
				→ Stage de 6 mois à l’étranger ou transfert de crédit dans une université étrangère + stage de 2 mois</p></li>

				<li><p><h5>Troisième année (équivalent M2) :</h5> choix d’une option différente de celle choisie en deuxième année et projet de fin d’études (second semestre)</p></li>
			</ul>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="images/icam.jpg"></div>
</div>
<div id="icam" class="section scrollspy white">
	<div class="row container">
		<h2 class="header">Institut Catholique des Arts et Métiers (ICAM)</h2>
		<p>École généraliste. Admission en majorité en équivalent L1 (post-bac). Les étudiants sont admis sur dossier et entretien. Quelques étudiants sont également admis en 3e année (équivalent L3).</p>

		<ul>
			<li><p><h5>1ère et 2ème année :</h5> prépa intégrée, PTSI-PT (Mathématiques, Physique, SI) plus conservation de LV2 → 
			Stages en fin de chaque année : 1 mois en 1ère année, 6 semaines lors de la 2nde.</p></li>

			<li><p><h5>3e année :</h5> début du cycle ingénieur. École généraliste donc cours de Matériaux, Electronique, Programmation, Résistance des Solides, Mécanique, Automatique, Droit Social…</p></li>

			<li><p><h5>4e année :</h5> continuité de la 3e. Pas de spécialisation.</p></li>

			<li><p><h5>5e année :</h5> choix d'un labo (matériaux, mécanique, électrique…) donc mission en partenariat avec une entreprise. → 6 mois de stage</p></li>
		</ul>

		<p>
			<h6>Exemples de projets réalisés par année :</h6>
			<ul>
				<li>-1ère année : pièce de théâtre, récit de vie, controverse, projet de sciences industrielles. </li>
				<li>-2ème année : projet iguanes en partenariat avec la compagnie La Machine. Modélisation d'iguane sur SolidWorks, mise en pratique de la Résistance des Matériaux</li>
				<li>-3ème année : Projet Conception Produit : Étude et Conception du bateau de notre choix à l'échelle maquette.</li>
				<li>-4ème année : Projet Création d'Entreprise.</li>
			</ul>
		</p>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/ecoles.js"></script>
