<div class="section white">
    <div class="container">
        <img class="responsive-img-body" src="/images/logo_et_texte_horizons.png">
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/images/parallax_accueil_1.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div style='text-align: center;'>
            <h3>Forum Horizons</h3>
            <h3>Jeudi 16 janvier après-midi</h3>
            <h3>École Polytech Nantes</h3>
            <h3><a href="/jour_j">Plus d'infos ici</a></h3>
            <h3>Rdv 12h pour les entreprises, 13h30 pour les étudiants.</h3>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/images/parallax_accueil_2.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <p>
        Le Forum Horizons répond à l’appel des étudiants nantais qui, conscients des nouveaux enjeux climatiques et socio-économiques, 
        cherchent à faire <strong>coïncider leurs valeurs et leurs engagements avec leur avenir professionnel.</strong>

        </p>

        <p>
            Il rassemble des structures (associations, entreprises) et des étudiants qui travaillent ou souhaitent travailler dans le domaine de la transition écologique et solidaire. L’évènement se veut être une 
            <strong>rencontre et un rapprochement entre tous les acteurs de la transition écologique et solidaire</strong> et proposera donc des conférences, des ateliers et des tables rondes regroupant des personnes impliquées à tous les niveaux.
        </p>
        <p>
            Ce forum offre aux structures participantes une <strong>visibilité</strong> auprès d’étudiants intéressés par leurs projets et motivés pour travailler avec elles. Les entités sélectionnées sont plutôt de petite taille et cette rencontre est donc l’occasion pour elles de diffuser leurs offres de stages ou d’emplois auprès d’un large public.
        </p>
        <p>
            Une des forces du forum est la <strong>diversité des profils d’ingénieurs</strong> proposée, puisque ingénieurs généralistes et spécialistes seront présents au forum. Les étudiants en ingénierie ont les compétences nécessaires pour travailler dans le domaine de la transition écologique et solidaire puisqu’ils sont formés à avoir une approche systémique des problèmes auxquels ils sont confrontés.
        </p>
        <p>
            Au plaisir de vous y voir, 
        </p>
        <p>
            L’équipe organisatrice
        </p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/images/parallax_accueil_3.jpg"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>









