<div class="section white">
    <div class="row container">
        <div style='text-align: center;'>
            <h3>Aller au Forum Horizons</h3>
        </div>
    </div>
</div>
<div class="section white">
    <div class="container">
        <img class="responsive-img-body" src="/images/carte-chantrerie.PNG">
    </div>
</div>
<div class="section white">
    <div class="container">
        <img class="responsive-img-body" src="/images/carte-chantrerie2.PNG">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <div style='text-align: center;'>
            <h3>En bus</h3>
        </div>
    </div>
</div>
<div class="section white">
    <div class="container">
        <img class="responsive-img-body" src="/images/carte-TAN.jpg">
    </div>
</div>

<div class="section white">
    <div class="row container">
        <div style='text-align: center;'>
            <h4>Les lignes de bus n°75 et C6 s'arrêtent juste devant l'école à l'arrêt 
                "Chantrerie Grandes Écoles". Elles sont connectées au Tramway ligne 1 et ligne 2.
                Par ailleurs, la ligne E5 relie le campus Chantrerie au campus du Tertre (proche du Petit Port) ou à Carquefou.</h4>
        </div>
    </div>
</div>
<div class="section white">
    <div class="row container">
        <div style='text-align: center;'>
            <h3>En vélo</h3>
            <h4>depuis Commerce : <a href="https://www.geovelo.fr/nantes/route?b=47.297277,-1.451054,47.199511,-1.615849&from=-1.554737,47.213272&to=-1.514240,47.283329">ici</a></h4>
            <h4>depuis Centrale : <a href="https://www.geovelo.fr/nantes/route?b=47.290117,-1.490622,47.241250,-1.573019&to=-1.514240,47.283329&from=-1.550857,47.248211">ici</a></h4>
            <h4>depuis d'autres lieux : <a href="https://www.geovelo.fr/nantes/route">ici</a></h4>
        </div>
    </div>
</div>
<div class="section white">
    <div class="row container">
        <div style='text-align: center;'>
            <h3>En covoiturage</h3>
            <h4>pour chercher une place ou en proposer une : <a href="https://www.togetzer.com/covoiturage-evenement/zulv78">ici</a></h4>
        </div>
    </div>
</div>
<div class="section white"></div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>