<div class="section white"></div>

<div class="container">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">Rencontre étudiants-entreprises 13h30 à 17h</div>
            <div class="collapsible-body">
                <p>C'est l'occasion d'aller découvrir les entreprises du forum.</p>
                <p>Plus d'informations sur les entreprises <a href="/entreprises">ici</a></p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">Fresque du Climat 13h30 à 17h</div>
            <div class="collapsible-body">Viens participer à la fresque !</div>
        </li>
        <li>
            <div class="collapsible-header">Visite de la chaufferie</div>
            <div class="collapsible-body">Horaires : 14h-15h ou 16-17h</div>
        </li>
        <li>
            <div class="collapsible-header">Atelier-Débat Informatique verte</div>
            <div class="collapsible-body">
                <p>Horaire : 14h à 15h30</p>
                <p>Intervenants : </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">Atelier-Débat Énergie</div>
            <div class="collapsible-body">
                <p>Horaire : 15h à 16h30</p>
                <p>Intervenants : </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">Atelier-Débat Matériaux</div>
            <div class="collapsible-body">
                <p>Horaire : 16h à 17h30</p>
                <p>Intervenants : </p>
            </div>
        </li>
    </ul>
</div>

<div class="section white"></div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/jour_j.js"></script>